<html lang="en">

<head>
	<!-- Meta tags -->
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta
		content="Clinify is one of India's largest student communities, that provides an all in one platform for students to learn new skills, network with peers, apply for internships and grow as an individual."
		name="description" />
	<meta property="og:image" content="/assets/img/favicon.png">

	<!-- Favicon -->
	<link rel="apple-touch-icon" sizes="76x76" href="assets/img/favicons/apple-touch-icon.png" />
	<link rel="icon" type="img/png" sizes="32x32" href="assets/img/favicons/favicon-32x32.png" />
	<link rel="icon" type="img/png" sizes="16x16" href="assets/img/favicons/favicon-16x16.png" />
	<link rel="manifest" href="assets/img/favicons/site.webmanifest" />
	<meta name="msapplication-TileColor" content="#da532c" />
	<meta name="theme-color" content="#ffffff" />

	<!-- Title -->
	<title>Clinify</title>

	<!-- CSS file -->
	<link rel="stylesheet" href="./styles/css/main.min.css" />

	<!-- Bootstrap -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
		integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous" />

	<!-- fonts -->
	<link
		href="https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700;800;900&family=Roboto:wght@300;400;500;700;900&display=swap"
		rel="stylesheet" />

	<link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap" rel="stylesheet" />

	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap"
		rel="stylesheet" />
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-179009367-1"></script>
	<script>
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());

	gtag('config', 'UA-179009367-1');
	</script>

</head>
<body>
	{{#if headerMain}}
	{{> header}}
	{{/if}}
	{{#if headerSec}}
	{{> headerSecondary}}
	{{/if}}
	
     {{{body}}}
	{{> footer}} 
</body>


</html>