<section id="mentors-page">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="mentor-card">
                    <img src="/public/assets/img/vinit.jpg" alt="" class="img-fluid mentor-img">
                    <div class="mentor-name">Vinit Sarode</div>
                    <div class="mentor-college">PCCE, Goa</div>
                    <div class="mentor-branch">Computer Engineering</div>
                    <button class="btn mentor-cta-btn">Get mentored</button>
                </div>
            </div>
        </div>
    </div>
</section>