<section id="landing-page" class="mentors-hero page-hero">
	<div class="stars">
		<svg width="1168" height="637" viewBox="0 0 1168 637" fill="none"
			xmlns="[http://www.w3.org/2000/svg](http://www.w3.org/2000/svg)">
			<g id="stars1">
				<path id="Vector" fill-rule="evenodd" clip-rule="evenodd"
					d="M1112.16 4.28674C1113.25 4.28674 1114.19 3.34573 1114.19 2.14335C1114.19 0.993255 1113.25 0 1112.16 0C1111.02 0 1110.12 0.993255 1110.12 2.14335C1110.12 3.29345 1111.02 4.28674 1112.16 4.28674Z"
					fill="white" />
				<path id="Vector_2" fill-rule="evenodd" clip-rule="evenodd"
					d="M80.0356 182.287C81.1279 182.287 82.0713 181.346 82.0713 180.143C82.0713 178.993 81.1279 178 80.0356 178C78.8937 178 78 178.993 78 180.143C78 181.293 78.8937 182.287 80.0356 182.287Z"
					fill="white" />
				<path id="Vector_3" fill-rule="evenodd" clip-rule="evenodd"
					d="M1166.84 599.777C1167.29 599.777 1167.69 599.359 1167.69 598.889C1167.69 598.418 1167.34 598 1166.84 598C1166.4 598 1166 598.418 1166 598.889C1166 599.411 1166.35 599.777 1166.84 599.777Z"
					fill="white" />
				<path id="Vector_4" fill-rule="evenodd" clip-rule="evenodd"
					d="M568.75 555.5C569.147 555.5 569.5 555.147 569.5 554.75C569.5 554.353 569.191 554 568.75 554C568.353 554 568 554.353 568 554.75C568 555.191 568.309 555.5 568.75 555.5Z"
					fill="white" />
				<path id="Vector_5" fill-rule="evenodd" clip-rule="evenodd"
					d="M690.65 45.3C690.994 45.3 691.3 44.9941 691.3 44.65C691.3 44.3059 691.032 44 690.65 44C690.306 44 690 44.3059 690 44.65C690 45.0323 690.268 45.3 690.65 45.3Z"
					fill="white" />
				<path id="Vector_6" fill-rule="evenodd" clip-rule="evenodd"
					d="M658.65 315.3C658.994 315.3 659.3 314.994 659.3 314.65C659.3 314.306 659.032 314 658.65 314C658.306 314 658 314.306 658 314.65C658 315.032 658.268 315.3 658.65 315.3Z"
					fill="white" />
				<path id="Vector_7" fill-rule="evenodd" clip-rule="evenodd"
					d="M184.65 636.3C184.994 636.3 185.3 635.994 185.3 635.65C185.3 635.306 185.032 635 184.65 635C184.306 635 184 635.306 184 635.65C184 636.032 184.268 636.3 184.65 636.3Z"
					fill="white" />
				<path id="Vector_8" fill-rule="evenodd" clip-rule="evenodd"
					d="M1065.65 260.3C1065.99 260.3 1066.3 259.994 1066.3 259.65C1066.3 259.306 1066.03 259 1065.65 259C1065.31 259 1065 259.306 1065 259.65C1065 260.032 1065.27 260.3 1065.65 260.3Z"
					fill="white" />
				<path id="Vector_9" fill-rule="evenodd" clip-rule="evenodd"
					d="M255.75 152.5C256.147 152.5 256.5 152.147 256.5 151.75C256.5 151.353 256.191 151 255.75 151C255.353 151 255 151.353 255 151.75C255 152.191 255.309 152.5 255.75 152.5Z"
					fill="white" />
				<path id="Vector_10" fill-rule="evenodd" clip-rule="evenodd"
					d="M1042.75 619.5C1043.15 619.5 1043.5 619.147 1043.5 618.75C1043.5 618.353 1043.19 618 1042.75 618C1042.35 618 1042 618.353 1042 618.75C1042 619.191 1042.31 619.5 1042.75 619.5Z"
					fill="white" />
				<path id="Vector_11" fill-rule="evenodd" clip-rule="evenodd"
					d="M389.75 484.5C390.147 484.5 390.5 484.147 390.5 483.75C390.5 483.353 390.191 483 389.75 483C389.353 483 389 483.353 389 483.75C389 484.191 389.309 484.5 389.75 484.5Z"
					fill="white" />
				<path id="Vector_12" fill-rule="evenodd" clip-rule="evenodd"
					d="M826.75 376.5C827.147 376.5 827.5 376.147 827.5 375.75C827.5 375.353 827.191 375 826.75 375C826.353 375 826 375.353 826 375.75C826 376.191 826.309 376.5 826.75 376.5Z"
					fill="white" />
				<path id="Vector_13" fill-rule="evenodd" clip-rule="evenodd"
					d="M1.21693 135.04C1.66376 135.04 2.06091 134.622 2.06091 134.151C2.06091 133.681 1.71341 133.262 1.21693 133.262C0.770103 133.262 0.372887 133.681 0.372887 134.151C0.372887 134.674 0.720456 135.04 1.21693 135.04Z"
					fill="white" />
				<path id="Vector_14" fill-rule="evenodd" clip-rule="evenodd"
					d="M17.1508 23.4942C17.5977 23.4942 17.9948 23.076 17.9948 22.6055C17.9948 22.135 17.6473 21.7168 17.1508 21.7168C16.704 21.7168 16.3068 22.135 16.3068 22.6055C16.3068 23.1283 16.6544 23.4942 17.1508 23.4942Z"
					fill="#FFCC00" />
				<path id="Vector_15" fill-rule="evenodd" clip-rule="evenodd"
					d="M312.844 388.777C313.291 388.777 313.688 388.359 313.688 387.889C313.688 387.418 313.34 387 312.844 387C312.397 387 312 387.418 312 387.889C312 388.411 312.348 388.777 312.844 388.777Z"
					fill="white" />
			</g>
		</svg>

		<svg width="1226" height="656" viewBox="0 0 1226 656" fill="none" xmlns="<http://www.w3.org/2000/svg>">
			<g id="stars2">
				<path id="Vector" fill-rule="evenodd" clip-rule="evenodd"
					d="M207.048 55.0823C207.494 55.0823 207.892 54.6641 207.892 54.1936C207.892 53.7231 207.544 53.3049 207.048 53.3049C206.601 53.3049 206.204 53.7231 206.204 54.1936C206.204 54.7164 206.551 55.0823 207.048 55.0823Z"
					fill="white" />
				<path id="Vector_2" fill-rule="evenodd" clip-rule="evenodd"
					d="M158.844 249.035C159.291 249.035 159.688 248.616 159.688 248.146C159.688 247.676 159.34 247.257 158.844 247.257C158.397 247.257 158 247.676 158 248.146C158 248.669 158.348 249.035 158.844 249.035Z"
					fill="white" />
				<path id="Vector_3" fill-rule="evenodd" clip-rule="evenodd"
					d="M999.65 87.5573C999.994 87.5573 1000.3 87.2514 1000.3 86.9073C1000.3 86.5632 1000.03 86.2573 999.65 86.2573C999.306 86.2573 999 86.5632 999 86.9073C999 87.2897 999.268 87.5573 999.65 87.5573Z"
					fill="white" />
				<path id="Vector_4" fill-rule="evenodd" clip-rule="evenodd"
					d="M1154.65 163.557C1154.99 163.557 1155.3 163.251 1155.3 162.907C1155.3 162.563 1155.03 162.257 1154.65 162.257C1154.31 162.257 1154 162.563 1154 162.907C1154 163.29 1154.27 163.557 1154.65 163.557Z"
					fill="white" />
				<path id="Vector_5" fill-rule="evenodd" clip-rule="evenodd"
					d="M561.65 31.5573C561.994 31.5573 562.3 31.2514 562.3 30.9073C562.3 30.5632 562.032 30.2573 561.65 30.2573C561.306 30.2573 561 30.5632 561 30.9073C561 31.2897 561.268 31.5573 561.65 31.5573Z"
					fill="white" />
				<path id="Vector_6" fill-rule="evenodd" clip-rule="evenodd"
					d="M686.65 211.557C686.994 211.557 687.3 211.251 687.3 210.907C687.3 210.563 687.032 210.257 686.65 210.257C686.306 210.257 686 210.563 686 210.907C686 211.29 686.268 211.557 686.65 211.557Z"
					fill="white" />
				<path id="Vector_7" fill-rule="evenodd" clip-rule="evenodd"
					d="M998.65 449.557C998.994 449.557 999.3 449.251 999.3 448.907C999.3 448.563 999.032 448.257 998.65 448.257C998.306 448.257 998 448.563 998 448.907C998 449.29 998.268 449.557 998.65 449.557Z"
					fill="white" />
				<path id="Vector_8" fill-rule="evenodd" clip-rule="evenodd"
					d="M990.65 161.557C990.994 161.557 991.3 161.251 991.3 160.907C991.3 160.563 991.032 160.257 990.65 160.257C990.306 160.257 990 160.563 990 160.907C990 161.29 990.268 161.557 990.65 161.557Z"
					fill="white" />
				<path id="Vector_9" fill-rule="evenodd" clip-rule="evenodd"
					d="M175.65 429.557C175.994 429.557 176.3 429.251 176.3 428.907C176.3 428.563 176.032 428.257 175.65 428.257C175.306 428.257 175 428.563 175 428.907C175 429.29 175.268 429.557 175.65 429.557Z"
					fill="white" />
				<path id="Vector_10" fill-rule="evenodd" clip-rule="evenodd"
					d="M685.65 384.557C685.994 384.557 686.3 384.251 686.3 383.907C686.3 383.563 686.032 383.257 685.65 383.257C685.306 383.257 685 383.563 685 383.907C685 384.29 685.268 384.557 685.65 384.557Z"
					fill="white" />
				<path id="Vector_11" fill-rule="evenodd" clip-rule="evenodd"
					d="M350.75 241.757C351.147 241.757 351.5 241.404 351.5 241.007C351.5 240.61 351.191 240.257 350.75 240.257C350.353 240.257 350 240.61 350 241.007C350 241.448 350.309 241.757 350.75 241.757Z"
					fill="white" />
				<path id="Vector_12" fill-rule="evenodd" clip-rule="evenodd"
					d="M519.75 131.757C520.147 131.757 520.5 131.404 520.5 131.007C520.5 130.61 520.191 130.257 519.75 130.257C519.353 130.257 519 130.61 519 131.007C519 131.448 519.309 131.757 519.75 131.757Z"
					fill="white" />
				<path id="Vector_13" fill-rule="evenodd" clip-rule="evenodd"
					d="M446.056 655.257C446.503 655.257 446.9 654.839 446.9 654.368C446.9 653.898 446.553 653.48 446.056 653.48C445.609 653.48 445.212 653.898 445.212 654.368C445.212 654.891 445.56 655.257 446.056 655.257Z"
					fill="#FFCC00" />
				<path id="Vector_14" fill-rule="evenodd" clip-rule="evenodd"
					d="M365.45 1.77742C365.896 1.77742 366.294 1.3592 366.294 0.888702C366.294 0.418208 365.946 0 365.45 0C365.003 0 364.605 0.418208 364.605 0.888702C364.605 1.41147 364.953 1.77742 365.45 1.77742Z"
					fill="white" />
				<path id="Vector_15" fill-rule="evenodd" clip-rule="evenodd"
					d="M0.84404 552.596C1.29087 552.596 1.68802 552.177 1.68802 551.707C1.68802 551.236 1.34051 550.818 0.84404 550.818C0.397215 550.818 0 551.236 0 551.707C0 552.23 0.347567 552.596 0.84404 552.596Z"
					fill="white" />
				<path id="bliking-star2" fill-rule="evenodd" clip-rule="evenodd"
					d="M1223.04 500.544C1224.13 500.544 1225.07 499.603 1225.07 498.401C1225.07 497.251 1224.13 496.257 1223.04 496.257C1221.89 496.257 1221 497.251 1221 498.401C1221 499.551 1221.89 500.544 1223.04 500.544Z"
					fill="white" />
				<path id="Vector_16" fill-rule="evenodd" clip-rule="evenodd"
					d="M363.036 104.544C364.128 104.544 365.071 103.603 365.071 102.401C365.071 101.251 364.128 100.257 363.036 100.257C361.894 100.257 361 101.251 361 102.401C361 103.551 361.894 104.544 363.036 104.544Z"
					fill="white" />
			</g>
		</svg>

		<svg width="1108" height="580" viewBox="0 0 1108 580" fill="none" xmlns="<http://www.w3.org/2000/svg>">
			<g id="stars3">
				<path id="Vector" fill-rule="evenodd" clip-rule="evenodd"
					d="M792.035 579.14C793.127 579.14 794.07 578.199 794.07 576.996C794.07 575.846 793.127 574.853 792.035 574.853C790.893 574.853 789.999 575.846 789.999 576.996C789.999 578.146 790.893 579.14 792.035 579.14Z"
					fill="white" />
				<path id="Vector_2" fill-rule="evenodd" clip-rule="evenodd"
					d="M1101.84 345.778C1102.29 345.778 1102.69 345.359 1102.69 344.889C1102.69 344.418 1102.34 344 1101.84 344C1101.4 344 1101 344.418 1101 344.889C1101 345.412 1101.35 345.778 1101.84 345.778Z"
					fill="white" />
				<path id="Vector_3" fill-rule="evenodd" clip-rule="evenodd"
					d="M817.65 461.3C817.994 461.3 818.3 460.994 818.3 460.65C818.3 460.306 818.032 460 817.65 460C817.306 460 817 460.306 817 460.65C817 461.032 817.268 461.3 817.65 461.3Z"
					fill="white" />
				<path id="Vector_4" fill-rule="evenodd" clip-rule="evenodd"
					d="M570.65 118.3C570.994 118.3 571.3 117.994 571.3 117.65C571.3 117.306 571.032 117 570.65 117C570.306 117 570 117.306 570 117.65C570 118.032 570.268 118.3 570.65 118.3Z"
					fill="white" />
				<path id="Vector_5" fill-rule="evenodd" clip-rule="evenodd"
					d="M903.65 87.3C903.994 87.3 904.3 86.9941 904.3 86.65C904.3 86.3059 904.032 86 903.65 86C903.306 86 903 86.3059 903 86.65C903 87.0323 903.268 87.3 903.65 87.3Z"
					fill="white" />
				<path id="Vector_6" fill-rule="evenodd" clip-rule="evenodd"
					d="M1106.65 41.3C1106.99 41.3 1107.3 40.9941 1107.3 40.65C1107.3 40.3059 1107.03 40 1106.65 40C1106.31 40 1106 40.3059 1106 40.65C1106 41.0323 1106.27 41.3 1106.65 41.3Z"
					fill="white" />
				<path id="Vector_7" fill-rule="evenodd" clip-rule="evenodd"
					d="M0.650023 275.3C0.994138 275.3 1.3 274.994 1.3 274.65C1.3 274.306 1.03237 274 0.650023 274C0.305908 274 0 274.306 0 274.65C0 275.032 0.267673 275.3 0.650023 275.3Z"
					fill="white" />
				<path id="Vector_8" fill-rule="evenodd" clip-rule="evenodd"
					d="M16.75 353.5C17.1471 353.5 17.5 353.147 17.5 352.75C17.5 352.353 17.1912 352 16.75 352C16.353 352 16 352.353 16 352.75C16 353.191 16.3089 353.5 16.75 353.5Z"
					fill="white" />
				<path id="Vector_9" fill-rule="evenodd" clip-rule="evenodd"
					d="M915.75 266.5C916.147 266.5 916.5 266.147 916.5 265.75C916.5 265.353 916.191 265 915.75 265C915.353 265 915 265.353 915 265.75C915 266.191 915.309 266.5 915.75 266.5Z"
					fill="white" />
				<path id="Vector_10" fill-rule="evenodd" clip-rule="evenodd"
					d="M843.75 1.5C844.147 1.5 844.5 1.14705 844.5 0.749993C844.5 0.352934 844.191 0 843.75 0C843.353 0 843 0.352934 843 0.749993C843 1.19117 843.309 1.5 843.75 1.5Z"
					fill="white" />
				<path id="Vector_11" fill-rule="evenodd" clip-rule="evenodd"
					d="M432.75 251.5C433.147 251.5 433.5 251.147 433.5 250.75C433.5 250.353 433.191 250 432.75 250C432.353 250 432 250.353 432 250.75C432 251.191 432.309 251.5 432.75 251.5Z"
					fill="white" />
				<path id="Vector_12" fill-rule="evenodd" clip-rule="evenodd"
					d="M482.75 317.5C483.147 317.5 483.5 317.147 483.5 316.75C483.5 316.353 483.191 316 482.75 316C482.353 316 482 316.353 482 316.75C482 317.191 482.309 317.5 482.75 317.5Z"
					fill="white" />
				<path id="Vector_13" fill-rule="evenodd" clip-rule="evenodd"
					d="M219.75 496.5C220.147 496.5 220.5 496.147 220.5 495.75C220.5 495.353 220.191 495 219.75 495C219.353 495 219 495.353 219 495.75C219 496.191 219.309 496.5 219.75 496.5Z"
					fill="white" />
				<path id="Vector_14" fill-rule="evenodd" clip-rule="evenodd"
					d="M740.844 118.777C741.291 118.777 741.688 118.359 741.688 117.889C741.688 117.418 741.34 117 740.844 117C740.397 117 740 117.418 740 117.889C740 118.411 740.348 118.777 740.844 118.777Z"
					fill="white" />
			</g>
		</svg>

		<svg width="1175" height="404" viewBox="0 0 1175 404" fill="none" xmlns="<http://www.w3.org/2000/svg>">
			<g id="stars4">
				<path id="Vector" fill-rule="evenodd" clip-rule="evenodd"
					d="M1071.5 189C1071.76 189 1072 188.765 1072 188.5C1072 188.235 1071.79 188 1071.5 188C1071.24 188 1071 188.235 1071 188.5C1071 188.794 1071.21 189 1071.5 189Z"
					fill="white" />
				<path id="Vector_2" fill-rule="evenodd" clip-rule="evenodd"
					d="M1002.5 137C1002.76 137 1003 136.765 1003 136.5C1003 136.235 1002.79 136 1002.5 136C1002.24 136 1002 136.235 1002 136.5C1002 136.794 1002.21 137 1002.5 137Z"
					fill="white" />
				<path id="Vector_3" fill-rule="evenodd" clip-rule="evenodd"
					d="M955.5 181C955.765 181 956 180.765 956 180.5C956 180.235 955.794 180 955.5 180C955.235 180 955 180.235 955 180.5C955 180.794 955.206 181 955.5 181Z"
					fill="white" />
				<path id="Vector_4" fill-rule="evenodd" clip-rule="evenodd"
					d="M721.5 157C721.765 157 722 156.765 722 156.5C722 156.235 721.794 156 721.5 156C721.235 156 721 156.235 721 156.5C721 156.794 721.206 157 721.5 157Z"
					fill="white" />
				<path id="Vector_5" fill-rule="evenodd" clip-rule="evenodd"
					d="M945.5 121C945.765 121 946 120.765 946 120.5C946 120.235 945.794 120 945.5 120C945.235 120 945 120.235 945 120.5C945 120.794 945.206 121 945.5 121Z"
					fill="white" />
				<path id="Vector_6" fill-rule="evenodd" clip-rule="evenodd"
					d="M850.5 10C850.765 10 851 9.7647 851 9.5C851 9.23529 850.794 9 850.5 9C850.235 9 850 9.23529 850 9.5C850 9.79411 850.206 10 850.5 10Z"
					fill="white" />
				<path id="Vector_7" fill-rule="evenodd" clip-rule="evenodd"
					d="M703.5 189C703.765 189 704 188.765 704 188.5C704 188.235 703.794 188 703.5 188C703.235 188 703 188.235 703 188.5C703 188.794 703.206 189 703.5 189Z"
					fill="white" />
				<path id="Vector_8" fill-rule="evenodd" clip-rule="evenodd"
					d="M469.5 1C469.765 1 470 0.764702 470 0.499995C470 0.235289 469.794 0 469.5 0C469.235 0 469 0.235289 469 0.499995C469 0.794114 469.206 1 469.5 1Z"
					fill="white" />
				<path id="Vector_9" fill-rule="evenodd" clip-rule="evenodd"
					d="M678.5 90C678.765 90 679 89.7647 679 89.5C679 89.2353 678.794 89 678.5 89C678.235 89 678 89.2353 678 89.5C678 89.7941 678.206 90 678.5 90Z"
					fill="white" />
				<path id="Vector_10" fill-rule="evenodd" clip-rule="evenodd"
					d="M1025.5 217C1025.76 217 1026 216.765 1026 216.5C1026 216.235 1025.79 216 1025.5 216C1025.24 216 1025 216.235 1025 216.5C1025 216.794 1025.21 217 1025.5 217Z"
					fill="white" />
				<path id="Vector_11" fill-rule="evenodd" clip-rule="evenodd"
					d="M591.5 179C591.765 179 592 178.765 592 178.5C592 178.235 591.794 178 591.5 178C591.235 178 591 178.235 591 178.5C591 178.794 591.206 179 591.5 179Z"
					fill="white" />
				<path id="Vector_12" fill-rule="evenodd" clip-rule="evenodd"
					d="M1086.5 346C1086.76 346 1087 345.765 1087 345.5C1087 345.235 1086.79 345 1086.5 345C1086.24 345 1086 345.235 1086 345.5C1086 345.794 1086.21 346 1086.5 346Z"
					fill="white" />
				<path id="Vector_13" fill-rule="evenodd" clip-rule="evenodd"
					d="M1085.5 404C1085.76 404 1086 403.765 1086 403.5C1086 403.235 1085.79 403 1085.5 403C1085.24 403 1085 403.235 1085 403.5C1085 403.794 1085.21 404 1085.5 404Z"
					fill="white" />
				<path id="Vector_14" fill-rule="evenodd" clip-rule="evenodd"
					d="M1172.5 121C1172.76 121 1173 120.765 1173 120.5C1173 120.235 1172.79 120 1172.5 120C1172.24 120 1172 120.235 1172 120.5C1172 120.794 1172.21 121 1172.5 121Z"
					fill="white" />
				<path id="Vector_15" fill-rule="evenodd" clip-rule="evenodd"
					d="M1174.5 143C1174.76 143 1175 142.765 1175 142.5C1175 142.235 1174.79 142 1174.5 142C1174.24 142 1174 142.235 1174 142.5C1174 142.794 1174.21 143 1174.5 143Z"
					fill="white" />
				<path id="Vector_16" fill-rule="evenodd" clip-rule="evenodd"
					d="M1151.5 190C1151.76 190 1152 189.765 1152 189.5C1152 189.235 1151.79 189 1151.5 189C1151.24 189 1151 189.235 1151 189.5C1151 189.794 1151.21 190 1151.5 190Z"
					fill="white" />
				<path id="Vector_17" fill-rule="evenodd" clip-rule="evenodd"
					d="M1040.5 282C1040.76 282 1041 281.765 1041 281.5C1041 281.235 1040.79 281 1040.5 281C1040.24 281 1040 281.235 1040 281.5C1040 281.794 1040.21 282 1040.5 282Z"
					fill="white" />
				<path id="Vector_18" fill-rule="evenodd" clip-rule="evenodd"
					d="M1098.5 270C1098.76 270 1099 269.765 1099 269.5C1099 269.235 1098.79 269 1098.5 269C1098.24 269 1098 269.235 1098 269.5C1098 269.794 1098.21 270 1098.5 270Z"
					fill="white" />
				<path id="Vector_19" fill-rule="evenodd" clip-rule="evenodd"
					d="M899.5 317C899.765 317 900 316.765 900 316.5C900 316.235 899.794 316 899.5 316C899.235 316 899 316.235 899 316.5C899 316.794 899.206 317 899.5 317Z"
					fill="white" />
				<path id="Vector_20" fill-rule="evenodd" clip-rule="evenodd"
					d="M898.5 298C898.765 298 899 297.765 899 297.5C899 297.235 898.794 297 898.5 297C898.235 297 898 297.235 898 297.5C898 297.794 898.206 298 898.5 298Z"
					fill="white" />
				<path id="Vector_21" fill-rule="evenodd" clip-rule="evenodd"
					d="M830.5 270C830.765 270 831 269.765 831 269.5C831 269.235 830.794 269 830.5 269C830.235 269 830 269.235 830 269.5C830 269.794 830.206 270 830.5 270Z"
					fill="white" />
				<path id="Vector_22" fill-rule="evenodd" clip-rule="evenodd"
					d="M652.5 307C652.765 307 653 306.765 653 306.5C653 306.235 652.794 306 652.5 306C652.235 306 652 306.235 652 306.5C652 306.794 652.206 307 652.5 307Z"
					fill="white" />
				<path id="Vector_23" fill-rule="evenodd" clip-rule="evenodd"
					d="M816.5 298C816.765 298 817 297.765 817 297.5C817 297.235 816.794 297 816.5 297C816.235 297 816 297.235 816 297.5C816 297.794 816.206 298 816.5 298Z"
					fill="white" />
				<path id="Vector_24" fill-rule="evenodd" clip-rule="evenodd"
					d="M817.5 346C817.765 346 818 345.765 818 345.5C818 345.235 817.794 345 817.5 345C817.235 345 817 345.235 817 345.5C817 345.794 817.206 346 817.5 346Z"
					fill="white" />
				<path id="Vector_25" fill-rule="evenodd" clip-rule="evenodd"
					d="M582.5 324C582.765 324 583 323.765 583 323.5C583 323.235 582.794 323 582.5 323C582.235 323 582 323.235 582 323.5C582 323.794 582.206 324 582.5 324Z"
					fill="white" />
				<path id="Vector_26" fill-rule="evenodd" clip-rule="evenodd"
					d="M851.5 247C851.765 247 852 246.765 852 246.5C852 246.235 851.794 246 851.5 246C851.235 246 851 246.235 851 246.5C851 246.794 851.206 247 851.5 247Z"
					fill="white" />
				<path id="Vector_27" fill-rule="evenodd" clip-rule="evenodd"
					d="M762.5 30C762.765 30 763 29.7647 763 29.5C763 29.2353 762.794 29 762.5 29C762.235 29 762 29.2353 762 29.5C762 29.7941 762.206 30 762.5 30Z"
					fill="white" />
				<path id="Vector_28" fill-rule="evenodd" clip-rule="evenodd"
					d="M162.5 103C162.765 103 163 102.765 163 102.5C163 102.235 162.794 102 162.5 102C162.235 102 162 102.235 162 102.5C162 102.794 162.206 103 162.5 103Z"
					fill="white" />
				<path id="Vector_29" fill-rule="evenodd" clip-rule="evenodd"
					d="M219.5 102C219.765 102 220 101.765 220 101.5C220 101.235 219.794 101 219.5 101C219.235 101 219 101.235 219 101.5C219 101.794 219.206 102 219.5 102Z"
					fill="white" />
				<path id="Vector_30" fill-rule="evenodd" clip-rule="evenodd"
					d="M573.5 123C573.765 123 574 122.765 574 122.5C574 122.235 573.794 122 573.5 122C573.235 122 573 122.235 573 122.5C573 122.794 573.206 123 573.5 123Z"
					fill="white" />
				<path id="Vector_31" fill-rule="evenodd" clip-rule="evenodd"
					d="M362.5 117C362.765 117 363 116.765 363 116.5C363 116.235 362.794 116 362.5 116C362.235 116 362 116.235 362 116.5C362 116.794 362.206 117 362.5 117Z"
					fill="white" />
				<path id="Vector_32" fill-rule="evenodd" clip-rule="evenodd"
					d="M327.5 58C327.765 58 328 57.7647 328 57.5C328 57.2353 327.794 57 327.5 57C327.235 57 327 57.2353 327 57.5C327 57.7941 327.206 58 327.5 58Z"
					fill="white" />
				<path id="Vector_33" fill-rule="evenodd" clip-rule="evenodd"
					d="M527.5 135C527.765 135 528 134.765 528 134.5C528 134.235 527.794 134 527.5 134C527.235 134 527 134.235 527 134.5C527 134.794 527.206 135 527.5 135Z"
					fill="white" />
				<path id="Vector_34" fill-rule="evenodd" clip-rule="evenodd"
					d="M513.5 155C513.765 155 514 154.765 514 154.5C514 154.235 513.794 154 513.5 154C513.235 154 513 154.235 513 154.5C513 154.794 513.206 155 513.5 155Z"
					fill="white" />
				<path id="Vector_35" fill-rule="evenodd" clip-rule="evenodd"
					d="M481.5 136C481.765 136 482 135.765 482 135.5C482 135.235 481.794 135 481.5 135C481.235 135 481 135.235 481 135.5C481 135.794 481.206 136 481.5 136Z"
					fill="white" />
				<path id="Vector_36" fill-rule="evenodd" clip-rule="evenodd"
					d="M433.5 156C433.765 156 434 155.765 434 155.5C434 155.235 433.794 155 433.5 155C433.235 155 433 155.235 433 155.5C433 155.794 433.206 156 433.5 156Z"
					fill="white" />
				<path id="Vector_37" fill-rule="evenodd" clip-rule="evenodd"
					d="M452.5 203C452.765 203 453 202.765 453 202.5C453 202.235 452.794 202 452.5 202C452.235 202 452 202.235 452 202.5C452 202.794 452.206 203 452.5 203Z"
					fill="white" />
				<path id="Vector_38" fill-rule="evenodd" clip-rule="evenodd"
					d="M245.5 283C245.765 283 246 282.765 246 282.5C246 282.235 245.794 282 245.5 282C245.235 282 245 282.235 245 282.5C245 282.794 245.206 283 245.5 283Z"
					fill="white" />
				<path id="Vector_39" fill-rule="evenodd" clip-rule="evenodd"
					d="M16.5 105C16.7647 105 17 104.765 17 104.5C17 104.235 16.7941 104 16.5 104C16.2353 104 16 104.235 16 104.5C16 104.794 16.2059 105 16.5 105Z"
					fill="white" />
				<path id="Vector_40" fill-rule="evenodd" clip-rule="evenodd"
					d="M303.5 58C303.765 58 304 57.7647 304 57.5C304 57.2353 303.794 57 303.5 57C303.235 57 303 57.2353 303 57.5C303 57.7941 303.206 58 303.5 58Z"
					fill="white" />
				<path id="Vector_41" fill-rule="evenodd" clip-rule="evenodd"
					d="M295.5 48C295.765 48 296 47.7647 296 47.5C296 47.2353 295.794 47 295.5 47C295.235 47 295 47.2353 295 47.5C295 47.7941 295.206 48 295.5 48Z"
					fill="white" />
				<path id="Vector_42" fill-rule="evenodd" clip-rule="evenodd"
					d="M0.500018 9C0.764722 9 1 8.7647 1 8.5C1 8.23529 0.794134 8 0.500018 8C0.235314 8 0 8.23529 0 8.5C0 8.79411 0.205902 9 0.500018 9Z"
					fill="white" />
				<path id="Vector_43" fill-rule="evenodd" clip-rule="evenodd"
					d="M47.5 2C47.7647 2 48 1.7647 48 1.5C48 1.23529 47.7941 1 47.5 1C47.2353 1 47 1.23529 47 1.5C47 1.79411 47.2059 2 47.5 2Z"
					fill="white" />
				<path id="Vector_44" fill-rule="evenodd" clip-rule="evenodd"
					d="M17.5 50C17.7647 50 18 49.7647 18 49.5C18 49.2353 17.7941 49 17.5 49C17.2353 49 17 49.2353 17 49.5C17 49.7941 17.2059 50 17.5 50Z"
					fill="white" />
				<path id="Vector_45" fill-rule="evenodd" clip-rule="evenodd"
					d="M37.5 96C37.7647 96 38 95.7647 38 95.5C38 95.2353 37.7941 95 37.5 95C37.2353 95 37 95.2353 37 95.5C37 95.7941 37.2059 96 37.5 96Z"
					fill="white" />
				<path id="Vector_46" fill-rule="evenodd" clip-rule="evenodd"
					d="M105.5 204C105.765 204 106 203.765 106 203.5C106 203.235 105.794 203 105.5 203C105.235 203 105 203.235 105 203.5C105 203.794 105.206 204 105.5 204Z"
					fill="white" />
				<path id="Vector_47" fill-rule="evenodd" clip-rule="evenodd"
					d="M175.5 268C175.765 268 176 267.765 176 267.5C176 267.235 175.794 267 175.5 267C175.235 267 175 267.235 175 267.5C175 267.794 175.206 268 175.5 268Z"
					fill="white" />
				<path id="Vector_48" fill-rule="evenodd" clip-rule="evenodd"
					d="M96.5 353C96.7647 353 97 352.765 97 352.5C97 352.235 96.7941 352 96.5 352C96.2353 352 96 352.235 96 352.5C96 352.794 96.2059 353 96.5 353Z"
					fill="white" />
				<path id="Vector_49" fill-rule="evenodd" clip-rule="evenodd"
					d="M83.5 318C83.7647 318 84 317.765 84 317.5C84 317.235 83.7941 317 83.5 317C83.2353 317 83 317.235 83 317.5C83 317.794 83.2059 318 83.5 318Z"
					fill="white" />
				<path id="Vector_50" fill-rule="evenodd" clip-rule="evenodd"
					d="M17.5 365C17.7647 365 18 364.765 18 364.5C18 364.235 17.7941 364 17.5 364C17.2353 364 17 364.235 17 364.5C17 364.794 17.2059 365 17.5 365Z"
					fill="white" />
				<path id="Vector_51" fill-rule="evenodd" clip-rule="evenodd"
					d="M96.5 269C96.7647 269 97 268.765 97 268.5C97 268.235 96.7941 268 96.5 268C96.2353 268 96 268.235 96 268.5C96 268.794 96.2059 269 96.5 269Z"
					fill="white" />
				<path id="Vector_52" fill-rule="evenodd" clip-rule="evenodd"
					d="M84.5 262C84.7647 262 85 261.765 85 261.5C85 261.235 84.7941 261 84.5 261C84.2353 261 84 261.235 84 261.5C84 261.794 84.2059 262 84.5 262Z"
					fill="white" />
				<path id="Vector_53" fill-rule="evenodd" clip-rule="evenodd"
					d="M95.5 280C95.7647 280 96 279.765 96 279.5C96 279.235 95.7941 279 95.5 279C95.2353 279 95 279.235 95 279.5C95 279.794 95.2059 280 95.5 280Z"
					fill="white" />
				<path id="Vector_54" fill-rule="evenodd" clip-rule="evenodd"
					d="M106.5 281C106.765 281 107 280.765 107 280.5C107 280.235 106.794 280 106.5 280C106.235 280 106 280.235 106 280.5C106 280.794 106.206 281 106.5 281Z"
					fill="white" />
				<path id="Vector_55" fill-rule="evenodd" clip-rule="evenodd"
					d="M94.5 241C94.7647 241 95 240.765 95 240.5C95 240.235 94.7941 240 94.5 240C94.2353 240 94 240.235 94 240.5C94 240.794 94.2059 241 94.5 241Z"
					fill="white" />
				<path id="Vector_56" fill-rule="evenodd" clip-rule="evenodd"
					d="M218.5 145C218.765 145 219 144.765 219 144.5C219 144.235 218.794 144 218.5 144C218.235 144 218 144.235 218 144.5C218 144.794 218.206 145 218.5 145Z"
					fill="white" />
				<path id="Vector_57" fill-rule="evenodd" clip-rule="evenodd"
					d="M686.5 248C686.765 248 687 247.765 687 247.5C687 247.235 686.794 247 686.5 247C686.235 247 686 247.235 686 247.5C686 247.794 686.206 248 686.5 248Z"
					fill="white" />
			</g>
		</svg>

		<svg width="1178" height="369" viewBox="0 0 1178 369" fill="none" xmlns="<http://www.w3.org/2000/svg>">
			<g id="stars5">
				<path id="Vector" fill-rule="evenodd" clip-rule="evenodd"
					d="M686.5 41C686.765 41 687 40.7647 687 40.5C687 40.2353 686.794 40 686.5 40C686.235 40 686 40.2353 686 40.5C686 40.7941 686.206 41 686.5 41Z"
					fill="white" />
				<path id="Vector_2" fill-rule="evenodd" clip-rule="evenodd"
					d="M830.5 108C830.765 108 831 107.765 831 107.5C831 107.235 830.794 107 830.5 107C830.235 107 830 107.235 830 107.5C830 107.794 830.206 108 830.5 108Z"
					fill="white" />
				<path id="Vector_3" fill-rule="evenodd" clip-rule="evenodd"
					d="M810.5 30C810.765 30 811 29.7647 811 29.5C811 29.2353 810.794 29 810.5 29C810.235 29 810 29.2353 810 29.5C810 29.7941 810.206 30 810.5 30Z"
					fill="white" />
				<path id="Vector_4" fill-rule="evenodd" clip-rule="evenodd"
					d="M882.5 118C882.765 118 883 117.765 883 117.5C883 117.235 882.794 117 882.5 117C882.235 117 882 117.235 882 117.5C882 117.794 882.206 118 882.5 118Z"
					fill="white" />
				<path id="Vector_5" fill-rule="evenodd" clip-rule="evenodd"
					d="M842.5 158C842.765 158 843 157.765 843 157.5C843 157.235 842.794 157 842.5 157C842.235 157 842 157.235 842 157.5C842 157.794 842.206 158 842.5 158Z"
					fill="white" />
				<path id="Vector_6" fill-rule="evenodd" clip-rule="evenodd"
					d="M21.5 203C21.7647 203 22 202.765 22 202.5C22 202.235 21.7941 202 21.5 202C21.2353 202 21 202.235 21 202.5C21 202.794 21.2059 203 21.5 203Z"
					fill="white" />
				<path id="Vector_7" fill-rule="evenodd" clip-rule="evenodd"
					d="M760.5 69C760.765 69 761 68.7647 761 68.5C761 68.2353 760.794 68 760.5 68C760.235 68 760 68.2353 760 68.5C760 68.7941 760.206 69 760.5 69Z"
					fill="white" />
				<path id="Vector_8" fill-rule="evenodd" clip-rule="evenodd"
					d="M831.5 82C831.765 82 832 81.7647 832 81.5C832 81.2353 831.794 81 831.5 81C831.235 81 831 81.2353 831 81.5C831 81.7941 831.206 82 831.5 82Z"
					fill="white" />
				<path id="Vector_9" fill-rule="evenodd" clip-rule="evenodd"
					d="M752.5 150C752.765 150 753 149.765 753 149.5C753 149.235 752.794 149 752.5 149C752.235 149 752 149.235 752 149.5C752 149.794 752.206 150 752.5 150Z"
					fill="white" />
				<path id="Vector_10" fill-rule="evenodd" clip-rule="evenodd"
					d="M883.5 185C883.765 185 884 184.765 884 184.5C884 184.235 883.794 184 883.5 184C883.235 184 883 184.235 883 184.5C883 184.794 883.206 185 883.5 185Z"
					fill="white" />
				<path id="Vector_11" fill-rule="evenodd" clip-rule="evenodd"
					d="M818.5 217C818.765 217 819 216.765 819 216.5C819 216.235 818.794 216 818.5 216C818.235 216 818 216.235 818 216.5C818 216.794 818.206 217 818.5 217Z"
					fill="white" />
				<path id="Vector_12" fill-rule="evenodd" clip-rule="evenodd"
					d="M778.5 195C778.765 195 779 194.765 779 194.5C779 194.235 778.794 194 778.5 194C778.235 194 778 194.235 778 194.5C778 194.794 778.206 195 778.5 195Z"
					fill="white" />
				<path id="Vector_13" fill-rule="evenodd" clip-rule="evenodd"
					d="M923.5 266C923.765 266 924 265.765 924 265.5C924 265.235 923.794 265 923.5 265C923.235 265 923 265.235 923 265.5C923 265.794 923.206 266 923.5 266Z"
					fill="white" />
				<path id="Vector_14" fill-rule="evenodd" clip-rule="evenodd"
					d="M968.5 251C968.765 251 969 250.765 969 250.5C969 250.235 968.794 250 968.5 250C968.235 250 968 250.235 968 250.5C968 250.794 968.206 251 968.5 251Z"
					fill="white" />
				<path id="Vector_15" fill-rule="evenodd" clip-rule="evenodd"
					d="M923.5 250C923.765 250 924 249.765 924 249.5C924 249.235 923.794 249 923.5 249C923.235 249 923 249.235 923 249.5C923 249.794 923.206 250 923.5 250Z"
					fill="white" />
				<path id="Vector_16" fill-rule="evenodd" clip-rule="evenodd"
					d="M16.5 3C16.7647 3 17 2.7647 17 2.5C17 2.23529 16.7941 2 16.5 2C16.2353 2 16 2.23529 16 2.5C16 2.79411 16.2059 3 16.5 3Z"
					fill="white" />
				<path id="Vector_17" fill-rule="evenodd" clip-rule="evenodd"
					d="M1035.5 81C1035.76 81 1036 80.7647 1036 80.5C1036 80.2353 1035.79 80 1035.5 80C1035.24 80 1035 80.2353 1035 80.5C1035 80.7941 1035.21 81 1035.5 81Z"
					fill="white" />
				<path id="Vector_18" fill-rule="evenodd" clip-rule="evenodd"
					d="M365.5 225C365.765 225 366 224.765 366 224.5C366 224.235 365.794 224 365.5 224C365.235 224 365 224.235 365 224.5C365 224.794 365.206 225 365.5 225Z"
					fill="white" />
				<path id="Vector_19" fill-rule="evenodd" clip-rule="evenodd"
					d="M1.50002 365C1.76472 365 2 364.765 2 364.5C2 364.235 1.79413 364 1.50002 364C1.23531 364 1 364.235 1 364.5C1 364.794 1.2059 365 1.50002 365Z"
					fill="white" />
				<path id="Vector_20" fill-rule="evenodd" clip-rule="evenodd"
					d="M142.5 178C142.765 178 143 177.765 143 177.5C143 177.235 142.794 177 142.5 177C142.235 177 142 177.235 142 177.5C142 177.794 142.206 178 142.5 178Z"
					fill="white" />
				<path id="Vector_21" fill-rule="evenodd" clip-rule="evenodd"
					d="M259.5 40C259.765 40 260 39.7647 260 39.5C260 39.2353 259.794 39 259.5 39C259.235 39 259 39.2353 259 39.5C259 39.7941 259.206 40 259.5 40Z"
					fill="white" />
				<path id="Vector_22" fill-rule="evenodd" clip-rule="evenodd"
					d="M298.5 227C298.765 227 299 226.765 299 226.5C299 226.235 298.794 226 298.5 226C298.235 226 298 226.235 298 226.5C298 226.794 298.206 227 298.5 227Z"
					fill="white" />
				<path id="Vector_23" fill-rule="evenodd" clip-rule="evenodd"
					d="M595.5 39C595.765 39 596 38.7647 596 38.5C596 38.2353 595.794 38 595.5 38C595.235 38 595 38.2353 595 38.5C595 38.7941 595.206 39 595.5 39Z"
					fill="white" />
				<path id="Vector_24" fill-rule="evenodd" clip-rule="evenodd"
					d="M437.5 1C437.765 1 438 0.764702 438 0.499995C438 0.235289 437.794 0 437.5 0C437.235 0 437 0.235289 437 0.499995C437 0.794114 437.206 1 437.5 1Z"
					fill="white" />
				<path id="Vector_25" fill-rule="evenodd" clip-rule="evenodd"
					d="M512.5 3C512.765 3 513 2.7647 513 2.5C513 2.23529 512.794 2 512.5 2C512.235 2 512 2.23529 512 2.5C512 2.79411 512.206 3 512.5 3Z"
					fill="white" />
				<path id="Vector_26" fill-rule="evenodd" clip-rule="evenodd"
					d="M532.5 28C532.765 28 533 27.7647 533 27.5C533 27.2353 532.794 27 532.5 27C532.235 27 532 27.2353 532 27.5C532 27.7941 532.206 28 532.5 28Z"
					fill="white" />
				<path id="Vector_27" fill-rule="evenodd" clip-rule="evenodd"
					d="M433.5 96C433.765 96 434 95.7647 434 95.5C434 95.2353 433.794 95 433.5 95C433.235 95 433 95.2353 433 95.5C433 95.7941 433.206 96 433.5 96Z"
					fill="white" />
				<path id="Vector_28" fill-rule="evenodd" clip-rule="evenodd"
					d="M936.5 43C936.765 43 937 42.7647 937 42.5C937 42.2353 936.794 42 936.5 42C936.235 42 936 42.2353 936 42.5C936 42.7941 936.206 43 936.5 43Z"
					fill="white" />
				<path id="Vector_29" fill-rule="evenodd" clip-rule="evenodd"
					d="M924.5 19C924.765 19 925 18.7647 925 18.5C925 18.2353 924.794 18 924.5 18C924.235 18 924 18.2353 924 18.5C924 18.7941 924.206 19 924.5 19Z"
					fill="white" />
				<path id="Vector_30" fill-rule="evenodd" clip-rule="evenodd"
					d="M513.5 72C513.765 72 514 71.7647 514 71.5C514 71.2353 513.794 71 513.5 71C513.235 71 513 71.2353 513 71.5C513 71.7941 513.206 72 513.5 72Z"
					fill="white" />
				<path id="Vector_31" fill-rule="evenodd" clip-rule="evenodd"
					d="M421.5 62C421.765 62 422 61.7647 422 61.5C422 61.2353 421.794 61 421.5 61C421.235 61 421 61.2353 421 61.5C421 61.7941 421.206 62 421.5 62Z"
					fill="white" />
				<path id="Vector_32" fill-rule="evenodd" clip-rule="evenodd"
					d="M373.5 9C373.765 9 374 8.7647 374 8.5C374 8.23529 373.794 8 373.5 8C373.235 8 373 8.23529 373 8.5C373 8.79411 373.206 9 373.5 9Z"
					fill="white" />
				<path id="Vector_33" fill-rule="evenodd" clip-rule="evenodd"
					d="M964.5 31C964.765 31 965 30.7647 965 30.5C965 30.2353 964.794 30 964.5 30C964.235 30 964 30.2353 964 30.5C964 30.7941 964.206 31 964.5 31Z"
					fill="white" />
				<path id="Vector_34" fill-rule="evenodd" clip-rule="evenodd"
					d="M193.5 207C193.765 207 194 206.765 194 206.5C194 206.235 193.794 206 193.5 206C193.235 206 193 206.235 193 206.5C193 206.794 193.206 207 193.5 207Z"
					fill="white" />
				<path id="Vector_35" fill-rule="evenodd" clip-rule="evenodd"
					d="M1177.5 369C1177.76 369 1178 368.765 1178 368.5C1178 368.235 1177.79 368 1177.5 368C1177.24 368 1177 368.235 1177 368.5C1177 368.794 1177.21 369 1177.5 369Z"
					fill="white" />
				<path id="Vector_36" fill-rule="evenodd" clip-rule="evenodd"
					d="M0.500018 162C0.764722 162 1 161.765 1 161.5C1 161.235 0.794134 161 0.500018 161C0.235314 161 0 161.235 0 161.5C0 161.794 0.205902 162 0.500018 162Z"
					fill="white" />
				<path id="Vector_37" fill-rule="evenodd" clip-rule="evenodd"
					d="M1176.5 12C1176.76 12 1177 11.7647 1177 11.5C1177 11.2353 1176.79 11 1176.5 11C1176.24 11 1176 11.2353 1176 11.5C1176 11.7941 1176.21 12 1176.5 12Z"
					fill="white" />
				<path id="Vector_38" fill-rule="evenodd" clip-rule="evenodd"
					d="M382.5 287C382.765 287 383 286.765 383 286.5C383 286.235 382.794 286 382.5 286C382.235 286 382 286.235 382 286.5C382 286.794 382.206 287 382.5 287Z"
					fill="white" />
				<path id="Vector_39" fill-rule="evenodd" clip-rule="evenodd"
					d="M276.5 149C276.765 149 277 148.765 277 148.5C277 148.235 276.794 148 276.5 148C276.235 148 276 148.235 276 148.5C276 148.794 276.206 149 276.5 149Z"
					fill="white" />
				<path id="Vector_40" fill-rule="evenodd" clip-rule="evenodd"
					d="M377.5 168C377.765 168 378 167.765 378 167.5C378 167.235 377.794 167 377.5 167C377.235 167 377 167.235 377 167.5C377 167.794 377.206 168 377.5 168Z"
					fill="white" />
				<path id="Vector_41" fill-rule="evenodd" clip-rule="evenodd"
					d="M576.5 262C576.765 262 577 261.765 577 261.5C577 261.235 576.794 261 576.5 261C576.235 261 576 261.235 576 261.5C576 261.794 576.206 262 576.5 262Z"
					fill="white" />
				<path id="Vector_42" fill-rule="evenodd" clip-rule="evenodd"
					d="M461.5 350C461.765 350 462 349.765 462 349.5C462 349.235 461.794 349 461.5 349C461.235 349 461 349.235 461 349.5C461 349.794 461.206 350 461.5 350Z"
					fill="white" />
				<path id="Vector_43" fill-rule="evenodd" clip-rule="evenodd"
					d="M427.5 366C427.765 366 428 365.765 428 365.5C428 365.235 427.794 365 427.5 365C427.235 365 427 365.235 427 365.5C427 365.794 427.206 366 427.5 366Z"
					fill="white" />
				<path id="Vector_44" fill-rule="evenodd" clip-rule="evenodd"
					d="M473.5 293C473.765 293 474 292.765 474 292.5C474 292.235 473.794 292 473.5 292C473.235 292 473 292.235 473 292.5C473 292.794 473.206 293 473.5 293Z"
					fill="white" />
				<path id="Vector_45" fill-rule="evenodd" clip-rule="evenodd"
					d="M241.5 348C241.765 348 242 347.765 242 347.5C242 347.235 241.794 347 241.5 347C241.235 347 241 347.235 241 347.5C241 347.794 241.206 348 241.5 348Z"
					fill="white" />
				<path id="Vector_46" fill-rule="evenodd" clip-rule="evenodd"
					d="M193.5 302C193.765 302 194 301.765 194 301.5C194 301.235 193.794 301 193.5 301C193.235 301 193 301.235 193 301.5C193 301.794 193.206 302 193.5 302Z"
					fill="white" />
				<path id="Vector_47" fill-rule="evenodd" clip-rule="evenodd"
					d="M207.5 364C207.765 364 208 363.765 208 363.5C208 363.235 207.794 363 207.5 363C207.235 363 207 363.235 207 363.5C207 363.794 207.206 364 207.5 364Z"
					fill="white" />
				<path id="Vector_48" fill-rule="evenodd" clip-rule="evenodd"
					d="M1074.5 66C1074.76 66 1075 65.7647 1075 65.5C1075 65.2353 1074.79 65 1074.5 65C1074.24 65 1074 65.2353 1074 65.5C1074 65.7941 1074.21 66 1074.5 66Z"
					fill="white" />
				<path id="Vector_49" fill-rule="evenodd" clip-rule="evenodd"
					d="M1126.5 72C1126.76 72 1127 71.7647 1127 71.5C1127 71.2353 1126.79 71 1126.5 71C1126.24 71 1126 71.2353 1126 71.5C1126 71.7941 1126.21 72 1126.5 72Z"
					fill="white" />
				<path id="Vector_50" fill-rule="evenodd" clip-rule="evenodd"
					d="M1125.5 119C1125.76 119 1126 118.765 1126 118.5C1126 118.235 1125.79 118 1125.5 118C1125.24 118 1125 118.235 1125 118.5C1125 118.794 1125.21 119 1125.5 119Z"
					fill="white" />
				<path id="Vector_51" fill-rule="evenodd" clip-rule="evenodd"
					d="M122.5 34C122.765 34 123 33.7647 123 33.5C123 33.2353 122.794 33 122.5 33C122.235 33 122 33.2353 122 33.5C122 33.7941 122.206 34 122.5 34Z"
					fill="white" />
				<path id="Vector_52" fill-rule="evenodd" clip-rule="evenodd"
					d="M779.5 95C779.765 95 780 94.7647 780 94.5C780 94.2353 779.794 94 779.5 94C779.235 94 779 94.2353 779 94.5C779 94.7941 779.206 95 779.5 95Z"
					fill="white" />
				<path id="Vector_53" fill-rule="evenodd" clip-rule="evenodd"
					d="M730.5 100C730.765 100 731 99.7647 731 99.5C731 99.2353 730.794 99 730.5 99C730.235 99 730 99.2353 730 99.5C730 99.7941 730.206 100 730.5 100Z"
					fill="white" />
				<path id="Vector_54" fill-rule="evenodd" clip-rule="evenodd"
					d="M798.5 118C798.765 118 799 117.765 799 117.5C799 117.235 798.794 117 798.5 117C798.235 117 798 117.235 798 117.5C798 117.794 798.206 118 798.5 118Z"
					fill="white" />
			</g>
		</svg>
	</div>
	<div class="container">
		<p class="hero-text">Clinify College Mentorship</p>
		<p class="hero-subtitle">Get mentored by college students in just 3 easy steps for free.</p>
		<div class="row no-gutters">
			<div class="col-lg-4">
				<div class="hero-card">
					<h3 class="hero-card-title">Step 1</h3>
					<img src="/assets/illustrations/university.svg" alt="" class="hero-card-icon">
					<p class="hero-card-text">Select your desired college.</p>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="hero-card middle-card">
					<h3 class="hero-card-title">Step 2</h3>
					<img src="/assets/illustrations/form.svg" alt="" class="hero-card-icon">
					<p class="hero-card-text">Fill out the form.</p>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="hero-card last-card">
					<h3 class="hero-card-title">Step 3</h3>
					<img src="/assets/illustrations/group.svg" alt="" class="hero-card-icon">
					<p class="hero-card-text">Join the mentorship group.</p>
				</div>
			</div>
		</div>
	</div>


</section>

<section id="mentors-page" class="layer">
	<div class="container">
		<div class="filter-wrapper">
			<div class="web-filter">
				<input class="form-control border-left-curved right-border college-name-input" type="text"
					placeholder="Search for your target college">
				<button class="btn search-filter-btn">Search</button>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 col-lg-4 mentor-card-wrapper">
				<div class="mentor-card clinify-card">
					<img src="/assets/img/bitspilani.jpg" alt="" class="img-fluid mentor-img">
					<div class="mentor-card-body">
						<div class="keywords d-none">bits pilani</div>
						<div class="mentor-college">Birla Institute of Technology and Science, Pilani</div>
						<a target="_blank" href="https://telegram.me/joinchat/PJvpIlNF_kxPxPrAvsjSIA"
							class="apply-now-btn card-cta">
							<span>Get mentored</span>
							<svg width="13px" height="10px" viewBox="0 0 13 10">
								<path d="M1,5 L11,5"></path>
								<polyline points="8 1 12 5 8 9"></polyline>
							</svg>
						</a>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-lg-4 mentor-card-wrapper">
				<div class="mentor-card clinify-card">
					<img src="/assets/img/bitsgoa.jpg" alt="" class="img-fluid mentor-img">
					<div class="mentor-card-body">
						<div class="keywords d-none">bits goa</div>
						<div class="mentor-college">Birla Institute of Technology and Science, Goa</div>
						{{!-- <button class="btn mentor-cta-btn">Get mentored</button> --}}
						<a target="_blank" href="https://telegram.me/joinchat/SKR1YBQrii7Ct7FTsKFioA"
							class="apply-now-btn card-cta">
							<span>Get mentored</span>
							<svg width="13px" height="10px" viewBox="0 0 13 10">
								<path d="M1,5 L11,5"></path>
								<polyline points="8 1 12 5 8 9"></polyline>
							</svg>
						</a>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-lg-4 mentor-card-wrapper">
				<div class="mentor-card clinify-card">
					<img src="/assets/img/bitshyd.jpg" alt="" class="img-fluid mentor-img">
					<div class="mentor-card-body">
						<div class="keywords d-none">bits hyderabad</div>
						<div class="mentor-college">Birla Institute of Technology and Science, Hyderabad</div>
						{{!-- <button class="btn mentor-cta-btn">Get mentored</button> --}}
						<a target="_blank" href="https://telegram.me/joinchat/PJvpIkno6e-MRrRxGtUSFw"
							class="apply-now-btn card-cta">
							<span>Get mentored</span>
							<svg width="13px" height="10px" viewBox="0 0 13 10">
								<path d="M1,5 L11,5"></path>
								<polyline points="8 1 12 5 8 9"></polyline>
							</svg>
						</a>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-lg-4 mentor-card-wrapper" data-keywords="iitb">
				<div class="mentor-card clinify-card">
					<img src="/assets/img/iitb.jpeg" alt="" class="img-fluid mentor-img">
					<div class="mentor-card-body">
						<div class="keywords d-none">iitb iit bombay</div>
						<div class="mentor-college">Indian Institute of Technology, Bombay</div>
						<a target="_blank" href="https://telegram.me/joinchat/PJvpIk4UO0ZNmn4meYwkTg"
							class="apply-now-btn card-cta">
							<span>Get mentored</span>
							<svg width="13px" height="10px" viewBox="0 0 13 10">
								<path d="M1,5 L11,5"></path>
								<polyline points="8 1 12 5 8 9"></polyline>
							</svg>
						</a>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-lg-4 mentor-card-wrapper">
				<div class="mentor-card clinify-card">
					<img src="/assets/img/iitkgp.jpg" alt="" class="img-fluid mentor-img">
					<div class="mentor-card-body">
						<div class="keywords d-none">iitkgp</div>
						<div class="mentor-college">Indian Institute of Technology, Kharagpur</div>
						<a target="_blank" href="https://telegram.me/joinchat/M6eOsBo1L8izcEqhzuRn9A"
							class="apply-now-btn card-cta">
							<span>Get mentored</span>
							<svg width="13px" height="10px" viewBox="0 0 13 10">
								<path d="M1,5 L11,5"></path>
								<polyline points="8 1 12 5 8 9"></polyline>
							</svg>
						</a>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-lg-4 mentor-card-wrapper">
				<div class="mentor-card clinify-card">
					<img src="/assets/img/iitroorkee.jpg" alt="" class="img-fluid mentor-img">
					<div class="mentor-card-body">
						<div class="keywords d-none">iit roorkee</div>
						<div class="mentor-college">Indian Institute of Technology, Roorkee</div>
						<a target="_blank" href="https://telegram.me/joinchat/M6eOsBif1ONQMJNtm_cULg"
							class="apply-now-btn card-cta">
							<span>Get mentored</span>
							<svg width="13px" height="10px" viewBox="0 0 13 10">
								<path d="M1,5 L11,5"></path>
								<polyline points="8 1 12 5 8 9"></polyline>
							</svg>
						</a>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-lg-4 mentor-card-wrapper">
				<div class="mentor-card clinify-card">
					<img src="/assets/img/iitgoa.jpeg" alt="" class="img-fluid mentor-img">
					<div class="mentor-card-body">
						<div class="keywords d-none">iit goa</div>
						<div class="mentor-college">Indian Institute of Technology, Goa</div>
						<a target="_blank" href="https://telegram.me/joinchat/SKR1YBthmijUq3TYNyaKnA"
							class="apply-now-btn card-cta">
							<span>Get mentored</span>
							<svg width="13px" height="10px" viewBox="0 0 13 10">
								<path d="M1,5 L11,5"></path>
								<polyline points="8 1 12 5 8 9"></polyline>
							</svg>
						</a>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-lg-4 mentor-card-wrapper">
				<div class="mentor-card clinify-card">
					<img src="/assets/img/iitmandi.jpeg" alt="" class="img-fluid mentor-img">
					<div class="mentor-card-body">
						<div class="keywords d-none">iit mandi</div>
						<div class="mentor-college">Indian Institute of Technology, Mandi</div>
						<a target="_blank" href="https://telegram.me/joinchat/SKR1YEwgrSsWN82eEq1T-A"
							class="apply-now-btn card-cta">
							<span>Get mentored</span>
							<svg width="13px" height="10px" viewBox="0 0 13 10">
								<path d="M1,5 L11,5"></path>
								<polyline points="8 1 12 5 8 9"></polyline>
							</svg>
						</a>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-lg-4 mentor-card-wrapper">
				<div class="mentor-card clinify-card">
					<img src="/assets/img/dhanbad.jpeg" alt="" class="img-fluid mentor-img">
					<div class="mentor-card-body">
						<div class="keywords d-none">iit dhanbad</div>
						<div class="mentor-college">Indian Institute of Technology, Dhanbad</div>
						<a target="_blank" href="https://telegram.me/joinchat/SKR1YE8XVO4CqW-ZgWh9ag"
							class="apply-now-btn card-cta">
							<span>Get mentored</span>
							<svg width="13px" height="10px" viewBox="0 0 13 10">
								<path d="M1,5 L11,5"></path>
								<polyline points="8 1 12 5 8 9"></polyline>
							</svg>
						</a>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-lg-4 mentor-card-wrapper">
				<div class="mentor-card clinify-card">
					<img src="/assets/img/dtu.jpeg" alt="" class="img-fluid mentor-img">
					<div class="mentor-card-body">
						<div class="keywords d-none">dtu</div>
						<div class="mentor-college">Delhi Technological University, Delhi</div>
						<a target="_blank" href="https://telegram.me/joinchat/M6eOsBuhR3JxOp53il-f5w"
							class="apply-now-btn card-cta">
							<span>Get mentored</span>
							<svg width="13px" height="10px" viewBox="0 0 13 10">
								<path d="M1,5 L11,5"></path>
								<polyline points="8 1 12 5 8 9"></polyline>
							</svg>
						</a>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-lg-4 mentor-card-wrapper">
				<div class="mentor-card clinify-card">
					<img src="/assets/img/vit.jpg" alt="" class="img-fluid mentor-img">
					<div class="mentor-card-body">
						<div class="keywords d-none">vit</div>
						<div class="mentor-college">Vellore Institute of Technology, Vellore</div>
						<a target="_blank" href="https://telegram.me/joinchat/PJvpIk0hJlRkackaKlVqXg"
							class="apply-now-btn card-cta">
							<span>Get mentored</span>
							<svg width="13px" height="10px" viewBox="0 0 13 10">
								<path d="M1,5 L11,5"></path>
								<polyline points="8 1 12 5 8 9"></polyline>
							</svg>
						</a>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-lg-4 mentor-card-wrapper">
				<div class="mentor-card clinify-card">
					<img src="/assets/img/nitraipur.jpg" alt="" class="img-fluid mentor-img">
					<div class="mentor-card-body">
						<div class="keywords d-none">nit raipur</div>
						<div class="mentor-college">National Institute of Technology, Raipur</div>
						<a target="_blank" href="https://telegram.me/joinchat/M6eOsB3G08NnMdOcyzLKiA"
							class="apply-now-btn card-cta">
							<span>Get mentored</span>
							<svg width="13px" height="10px" viewBox="0 0 13 10">
								<path d="M1,5 L11,5"></path>
								<polyline points="8 1 12 5 8 9"></polyline>
							</svg>
						</a>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-lg-4 mentor-card-wrapper">
				<div class="mentor-card clinify-card">
					<img src="/assets/img/iiithyd.jpg" alt="" class="img-fluid mentor-img">
					<div class="mentor-card-body">
						<div class="keywords d-none">iiit hyderabad</div>
						<div class="mentor-college">International Institute of Information Technology, Hyderabad</div>
						<a target="_blank" href="https://telegram.me/joinchat/SKR1YBM6lrsHUbYO9P15ug"
							class="apply-now-btn card-cta">
							<span>Get mentored</span>
							<svg width="13px" height="10px" viewBox="0 0 13 10">
								<path d="M1,5 L11,5"></path>
								<polyline points="8 1 12 5 8 9"></polyline>
							</svg>
						</a>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-lg-4 mentor-card-wrapper">
				<div class="mentor-card clinify-card">
					<img src="/assets/img/srm.jpeg" alt="" class="img-fluid mentor-img">
					<div class="mentor-card-body">
						<div class="keywords d-none">srm</div>
						<div class="mentor-college">SRM Institute of Science and Technology, Chennai</div>
						<a target="_blank" href="https://telegram.me/joinchat/PJvpIlUFJAH-lDwbUWFtvQ"
							class="apply-now-btn card-cta">
							<span>Get mentored</span>
							<svg width="13px" height="10px" viewBox="0 0 13 10">
								<path d="M1,5 L11,5"></path>
								<polyline points="8 1 12 5 8 9"></polyline>
							</svg>
						</a>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-lg-4 mentor-card-wrapper">
				<div class="mentor-card clinify-card">
					<img src="/assets/img/nsit.jpeg" alt="" class="img-fluid mentor-img">
					<div class="mentor-card-body">
						<div class="keywords d-none">nsit nsut</div>
						<div class="mentor-college">Netaji Subhash Institute of Technology, Dwarka Delhi</div>
						<a target="_blank" href="https://telegram.me/joinchat/M6eOsBr4TkIG1IL9fuH1yA"
							class="apply-now-btn card-cta">
							<span>Get mentored</span>
							<svg width="13px" height="10px" viewBox="0 0 13 10">
								<path d="M1,5 L11,5"></path>
								<polyline points="8 1 12 5 8 9"></polyline>
							</svg>
						</a>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-lg-4 mentor-card-wrapper">
				<div class="mentor-card clinify-card">
					<img src="/assets/img/du.jpg" alt="" class="img-fluid mentor-img">
					<div class="mentor-card-body">
						<div class="keywords d-none">du</div>
						<div class="mentor-college">Delhi University</div>
						<a target="_blank" href="https://telegram.me/joinchat/M6eOsBQC-jdnw9pYHKcDqA"
							class="apply-now-btn card-cta">
							<span>Get mentored</span>
							<svg width="13px" height="10px" viewBox="0 0 13 10">
								<path d="M1,5 L11,5"></path>
								<polyline points="8 1 12 5 8 9"></polyline>
							</svg>
						</a>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-lg-4 mentor-card-wrapper">
				<div class="mentor-card clinify-card">
					<img src="/assets/img/unimumbai.jpg" alt="" class="img-fluid mentor-img">
					<div class="mentor-card-body">
						<div class="keywords d-none">bombay um</div>
						<div class="mentor-college">University of Mumbai</div>
						<a target="_blank" href="https://telegram.me/joinchat/SKR1YBodK1kV9N-appoUNQ"
							class="apply-now-btn card-cta">
							<span>Get mentored</span>
							<svg width="13px" height="10px" viewBox="0 0 13 10">
								<path d="M1,5 L11,5"></path>
								<polyline points="8 1 12 5 8 9"></polyline>
							</svg>
						</a>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-lg-4 mentor-card-wrapper">
				<div class="mentor-card clinify-card">
					<img src="/assets/img/kiit.jpg" alt="" class="img-fluid mentor-img">
					<div class="mentor-card-body">
						<div class="keywords d-none">kiit</div>
						<div class="mentor-college">Kalinga Institute of Industrial Technology, Odisha</div>
						<a target="_blank" href="https://telegram.me/joinchat/SKR1YBt9Rgr3ByzQLz8WIA"
							class="apply-now-btn card-cta">
							<span>Get mentored</span>
							<svg width="13px" height="10px" viewBox="0 0 13 10">
								<path d="M1,5 L11,5"></path>
								<polyline points="8 1 12 5 8 9"></polyline>
							</svg>
						</a>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-lg-4 mentor-card-wrapper">
				<div class="mentor-card clinify-card">
					<img src="/assets/img/amitymumbai.jpg" alt="" class="img-fluid mentor-img">
					<div class="mentor-card-body">
						<div class="keywords d-none">aum au</div>
						<div class="mentor-college">Amity University, Mumbai</div>
						<a target="_blank" href="https://telegram.me/joinchat/M6eOsA9tJ40HdcVIPZ0vQw"
							class="apply-now-btn card-cta">
							<span>Get mentored</span>
							<svg width="13px" height="10px" viewBox="0 0 13 10">
								<path d="M1,5 L11,5"></path>
								<polyline points="8 1 12 5 8 9"></polyline>
							</svg>
						</a>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-lg-4 mentor-card-wrapper">
				<div class="mentor-card clinify-card">
					<img src="/assets/img/indraprastha.jpeg" alt="" class="img-fluid mentor-img">
					<div class="mentor-card-body">
						<div class="keywords d-none">iiitd</div>
						<div class="mentor-college">Indraprastha Institute of Information Technology, Delhi</div>
						<a target="_blank" href="https://telegram.me/joinchat/M6eOsBpVHhMXW-418zn3Aw"
							class="apply-now-btn card-cta">
							<span>Get mentored</span>
							<svg width="13px" height="10px" viewBox="0 0 13 10">
								<path d="M1,5 L11,5"></path>
								<polyline points="8 1 12 5 8 9"></polyline>
							</svg>
						</a>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-lg-4 mentor-card-wrapper">
				<div class="mentor-card clinify-card">
					<img src="/assets/img/pict.jpeg" alt="" class="img-fluid mentor-img">
					<div class="mentor-card-body">
						<div class="keywords d-none">pict</div>
						<div class="mentor-college">Pune Institute of Computer Technology</div>
						<a target="_blank" href="https://telegram.me/joinchat/SKR1YFO8Bq2TArJHoI9P5g"
							class="apply-now-btn card-cta">
							<span>Get mentored</span>
							<svg width="13px" height="10px" viewBox="0 0 13 10">
								<path d="M1,5 L11,5"></path>
								<polyline points="8 1 12 5 8 9"></polyline>
							</svg>
						</a>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-lg-4 mentor-card-wrapper">
				<div class="mentor-card clinify-card">
					<img src="/assets/img/dypcet.jpg" alt="" class="img-fluid mentor-img">
					<div class="mentor-card-body">
						<div class="keywords d-none">dypcet</div>
						<div class="mentor-college">DY. Patil College of Engineering and Technology, Kolhapur</div>
						<a target="_blank" href="https://telegram.me/joinchat/M6eOsBojZ3cTD33LwxkDiA"
							class="apply-now-btn card-cta">
							<span>Get mentored</span>
							<svg width="13px" height="10px" viewBox="0 0 13 10">
								<path d="M1,5 L11,5"></path>
								<polyline points="8 1 12 5 8 9"></polyline>
							</svg>
						</a>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-lg-4 mentor-card-wrapper">
				<div class="mentor-card clinify-card">
					<img src="/assets/img/bitsmesra.jpg" alt="" class="img-fluid mentor-img">
					<div class="mentor-card-body">
						<div class="keywords d-none">bits mesra</div>
						<div class="mentor-college">Birla Institute of Technology, Mesra</div>
						<a target="_blank" href="https://telegram.me/joinchat/SKR1YEbtnlaQ7zF8UciVbw"
							class="apply-now-btn card-cta">
							<span>Get mentored</span>
							<svg width="13px" height="10px" viewBox="0 0 13 10">
								<path d="M1,5 L11,5"></path>
								<polyline points="8 1 12 5 8 9"></polyline>
							</svg>
						</a>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-lg-4 mentor-card-wrapper">
				<div class="mentor-card clinify-card">
					<img src="/assets/img/pes.jpg" alt="" class="img-fluid mentor-img">
					<div class="mentor-card-body">
						<div class="keywords d-none">pes</div>
						<div class="mentor-college">PES University Electronic City, Bangalore</div>
						<a target="_blank" href="https://telegram.me/joinchat/PJvpIlj6dfj0l64hmupLoQ"
							class="apply-now-btn card-cta">
							<span>Get mentored</span>
							<svg width="13px" height="10px" viewBox="0 0 13 10">
								<path d="M1,5 L11,5"></path>
								<polyline points="8 1 12 5 8 9"></polyline>
							</svg>
						</a>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-lg-4 mentor-card-wrapper">
				<div class="mentor-card clinify-card">
					<img src="/assets/img/ethiraj.jpeg" alt="" class="img-fluid mentor-img">
					<div class="mentor-card-body">
						<div class="keywords d-none">ecw</div>
						<div class="mentor-college">Ethiraj College for Women, Chennai</div>
						<a target="_blank" href="https://telegram.me/joinchat/SKR1YBSuHyEIeYjcJtUDGg"
							class="apply-now-btn card-cta">
							<span>Get mentored</span>
							<svg width="13px" height="10px" viewBox="0 0 13 10">
								<path d="M1,5 L11,5"></path>
								<polyline points="8 1 12 5 8 9"></polyline>
							</svg>
						</a>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-lg-4 mentor-card-wrapper">
				<div class="mentor-card clinify-card">
					<img src="/assets/img/nlunagpur.jpg" alt="" class="img-fluid mentor-img">
					<div class="mentor-card-body">
						<div class="keywords d-none">nlu nagpur</div>
						<div class="mentor-college">National Law University, Nagpur</div>
						<a target="_blank" href="https://telegram.me/joinchat/M6eOsBPdUL-A25T231jz0g"
							class="apply-now-btn card-cta">
							<span>Get mentored</span>
							<svg width="13px" height="10px" viewBox="0 0 13 10">
								<path d="M1,5 L11,5"></path>
								<polyline points="8 1 12 5 8 9"></polyline>
							</svg>
						</a>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-lg-4 mentor-card-wrapper">
				<div class="mentor-card clinify-card">
					<img src="/assets/img/nluodisha.jpg" alt="" class="img-fluid mentor-img">
					<div class="mentor-card-body">
						<div class="keywords d-none">nlu odisha</div>
						<div class="mentor-college">National Law University, Odisha</div>
						<a target="_blank" href="https://telegram.me/joinchat/M6eOsBqBkdJkRMxsuEuUbw"
							class="apply-now-btn card-cta">
							<span>Get mentored</span>
							<svg width="13px" height="10px" viewBox="0 0 13 10">
								<path d="M1,5 L11,5"></path>
								<polyline points="8 1 12 5 8 9"></polyline>
							</svg>
						</a>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-lg-4 mentor-card-wrapper">
				<div class="mentor-card clinify-card">
					<img src="/assets/img/symbiosis.jpg" alt="" class="img-fluid mentor-img">
					<div class="mentor-card-body">
						<div class="keywords d-none">symbiosis</div>
						<div class="mentor-college">Symbiosis Law School, Pune</div>
						<a target="_blank" href="https://telegram.me/joinchat/PJvpIlNg4COtJXo4VItj8g"
							class="apply-now-btn card-cta">
							<span>Get mentored</span>
							<svg width="13px" height="10px" viewBox="0 0 13 10">
								<path d="M1,5 L11,5"></path>
								<polyline points="8 1 12 5 8 9"></polyline>
							</svg>
						</a>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-lg-4 mentor-card-wrapper">
				<div class="mentor-card clinify-card">
					<img src="/assets/img/isme.jpg" alt="" class="img-fluid mentor-img">
					<div class="mentor-card-body">
						<div class="keywords d-none">isme</div>
						<div class="mentor-college">Indian School of Management and Entrepreneurship, Mumbai</div>
						<a target="_blank" href="https://telegram.me/joinchat/M6eOsBnTvxAPwiHe_dGpyA"
							class="apply-now-btn card-cta">
							<span>Get mentored</span>
							<svg width="13px" height="10px" viewBox="0 0 13 10">
								<path d="M1,5 L11,5"></path>
								<polyline points="8 1 12 5 8 9"></polyline>
							</svg>
						</a>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-lg-4 mentor-card-wrapper">
				<div class="mentor-card clinify-card">
					<img src="/assets/img/nfscnagpur.jpg" alt="" class="img-fluid mentor-img">
					<div class="mentor-card-body">
						<div class="keywords d-none">nfsc</div>
						<div class="mentor-college">National Fire Serivce College, Nagpur</div>
						<a target="_blank" href="https://telegram.me/joinchat/SKR1YEr-cg_n8FIyH0Bb4Q"
							class="apply-now-btn card-cta">
							<span>Get mentored</span>
							<svg width="13px" height="10px" viewBox="0 0 13 10">
								<path d="M1,5 L11,5"></path>
								<polyline points="8 1 12 5 8 9"></polyline>
							</svg>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>