<section id="mentors-page" class="layer">
    <div class="container">
        <h1 class="section-header">Get mentored for free by real college students.</h1>
        <div class="filter-wrapper">
            <div class="web-filter">
                <input class="form-control border-left-curved right-border college-name-input" type="text" placeholder="College name">
                <input class="form-control college-branch-input" placeholder="Branch" type="text">
                <button class="btn search-filter-btn">Search</button>
            </div>
            <div class="mobile-filter">
                <button class="btn filters-btn" data-toggle="modal" data-target="#job-filter-modal"><i class="fas fa-filter"></i> Filter mentors</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-4 mentor-card-wrapper">
                <div class="mentor-card">
                    <img src="/assets/img/vinit.jpg" alt="" class="img-fluid mentor-img">
                    <div class="mentor-name">Vinit Sarode</div>
                    <div class="mentor-college">PCCE, Goa</div>
                    <div class="mentor-branch">Computer Engineering</div>
                    <button class="btn mentor-cta-btn">Get mentored</button>
                </div>
            </div>
        </div>
    </div>
</section>