<footer>
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<div class="about-section">
						<h6>About</h6>
						<p>Clinify is one of India's largest student communities that provides a one-stop platform for students to learn new skills, network with peers, apply for internships and grow as an individual.</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="quick-links">
						<h6 class="">Quick Links</h6>
						<ul class="list-unstyled">
							<li><a href="/#community">Community</a></li>
							<li><a href="/#events">Events</a></li>
							<li><a href="/#team">Team</a></li>
							<li><a href="/#contact">Contact us</a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-4">
					<div class="newsletter">
						<h6>Stay updated with our content</h6>
						<p>
							You can receive weekly and monthly newsletters and updates about
							various events and happenings
						</p>
						<a href="https://bitly.com/skill-hub" target="_blank" class="btn subscribe">Subscribe</a>
					</div>
				</div>
			</div>
			<hr />
			<div class="credits">
				<p>
					Made with ❤️ by
					<a href="https://www.linkedin.com/in/vinitsarode" target="_blank">Vinit Sarode</a>
				</p>
				<p>&copy; Copyrights Clinify. All rights reserved.</p>
			</div>
		</div>
	</footer>