<header>
		<nav class="navbar secondary-navbar navbar-expand-md navbar-dark scrolled">
			<div class="container">
				<a class="navbar-brand" href="/"><img src="/assets/logos/logo_black.svg" class="brand-logo" alt=""> </a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
					aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
					<div class="navbar-nav ml-auto">
						<a href="/jobs" class="nav-link">Jobs & Internships</a>
						<a href="/mentors" class="nav-link">College Guidance</a>
						<a class="nav-link" href="/#community">Subscribe</a>
					</div>
				</div>
			</div>
		</nav>
	</header>