html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Lato', sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'raleway', sans-serif;
}

p {
  margin: 0;
}

header nav.navbar {
  position: fixed;
  z-index: 10;
  width: 100%;
  font-family: 'raleway', sans-serif;
}

header nav.navbar .navbar-brand {
  font-size: 26px;
  font-weight: 500;
  background: -webkit-linear-gradient(#eefdff 30%, #00b5a9 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

header nav.navbar .navbar-toggler {
  border: none;
}

header nav.navbar .navbar-nav .nav-link {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-left: 18px;
}

@media (min-width: 768px) {
  header nav.navbar .navbar-nav .nav-link:last-child {
    background: #ff38609f;
    padding: 0.5rem 2rem;
    border: 1.5px solid #ff38609f;
    border-radius: 30px;
    color: white;
    -webkit-transition: all 0.25s linear;
    transition: all 0.25s linear;
  }
  header nav.navbar .navbar-nav .nav-link:last-child:hover {
    background: transparent;
    border: 1.5px solid white;
  }
}

@media (max-width: 768px) {
  header nav.navbar .navbar-nav .nav-link {
    margin-left: 0;
  }
}

.scrolled {
  background-color: rgba(20, 20, 20, 0.9) !important;
  -webkit-transition: background-color 500ms linear;
  transition: background-color 500ms linear;
}

#landing-page {
  width: 100%;
  height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #000000), to(#003C38));
  background: linear-gradient(180deg, #000000 50%, #003C38 100%);
  overflow: hidden;
  position: relative;
}

#landing-page .stars svg {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 1800px;
  height: 100vh;
  overflow: hidden;
}

#landing-page .stars #stars1 path {
  -webkit-animation: blink 1.8s infinite ease-in-out;
          animation: blink 1.8s infinite ease-in-out;
  -webkit-animation-delay: -1.3s;
          animation-delay: -1.3s;
}

#landing-page .stars #stars2 path {
  -webkit-animation: blink 1.8s infinite ease-in-out;
          animation: blink 1.8s infinite ease-in-out;
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
}

#landing-page .stars #stars3 path {
  -webkit-animation: blink 1.8s infinite ease-in-out;
          animation: blink 1.8s infinite ease-in-out;
  -webkit-animation-delay: -0.7s;
          animation-delay: -0.7s;
}

#landing-page .stars #stars4 path {
  -webkit-animation: blink 1.8s infinite ease-in-out;
          animation: blink 1.8s infinite ease-in-out;
}

#landing-page .shooting-stars {
  position: absolute;
  right: 20;
  top: 310;
}

#landing-page .rocket-takeoff {
  position: absolute;
  top: 290;
  left: 40;
}

#landing-page .rocket-takeoff #flame {
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
  -webkit-animation-name: flicker;
          animation-name: flicker;
  -webkit-animation-duration: 0.15s;
          animation-duration: 0.15s;
  -webkit-animation-delay: 200ms;
          animation-delay: 200ms;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

#landing-page .mountains {
  position: absolute;
  bottom: 0px;
  width: 100%;
}

#landing-page .container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 2;
  color: #f0f0f0;
}

#landing-page .container h1 {
  font-size: 64px;
  font-weight: 400;
  background: -webkit-linear-gradient(#eefdff 30%, #00b5a9 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
}

#landing-page .container h3 {
  font-weight: 500;
  font-size: 30px;
  line-height: 1.3;
  width: 350px;
  text-align: center;
  margin: 3rem 0;
}

#landing-page .container .btn-primary {
  font-family: 'raleway', sans-serif;
  font-weight: 700;
  font-size: 20px;
  padding: 0.8rem 2.5rem;
  background: #fff;
  color: #007d75;
  border: none;
}

@media (max-width: 768px) {
  .shooting-stars, .rocket-takeoff {
    display: none;
  }
}

@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes flicker {
  0% {
    -webkit-transform: rotate(-0.1deg);
            transform: rotate(-0.1deg);
  }
  20% {
    -webkit-transform: rotate(0.5deg);
            transform: rotate(0.5deg);
  }
  40% {
    -webkit-transform: rotate(-0.1deg);
            transform: rotate(-0.1deg);
  }
  60% {
    -webkit-transform: rotate(0.5deg);
            transform: rotate(0.5deg);
  }
  80% {
    -webkit-transform: rotate(-0.1deg);
            transform: rotate(-0.1deg);
  }
  100% {
    -webkit-transform: rotate(0.5deg);
            transform: rotate(0.5deg);
  }
}

@keyframes flicker {
  0% {
    -webkit-transform: rotate(-0.1deg);
            transform: rotate(-0.1deg);
  }
  20% {
    -webkit-transform: rotate(0.5deg);
            transform: rotate(0.5deg);
  }
  40% {
    -webkit-transform: rotate(-0.1deg);
            transform: rotate(-0.1deg);
  }
  60% {
    -webkit-transform: rotate(0.5deg);
            transform: rotate(0.5deg);
  }
  80% {
    -webkit-transform: rotate(-0.1deg);
            transform: rotate(-0.1deg);
  }
  100% {
    -webkit-transform: rotate(0.5deg);
            transform: rotate(0.5deg);
  }
}

.shooting-star {
  width: 5px;
  height: 85px;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  position: absolute;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0)), to(#ffeda3));
  background: linear-gradient(to top, rgba(255, 255, 255, 0), #ffeda3);
  -webkit-animation: animshootingstar 7s linear infinite;
          animation: animshootingstar 7s linear infinite;
}

@-webkit-keyframes animshootingstar {
  from {
    -webkit-transform: translateY(0px) translateX(0px) rotate(110deg);
            transform: translateY(0px) translateX(0px) rotate(110deg);
    opacity: 1;
    height: 5px;
  }
  to {
    -webkit-transform: translateY(560px) translateX(2560px) rotate(110deg);
            transform: translateY(560px) translateX(2560px) rotate(110deg);
    opacity: 1;
    height: 800px;
  }
}

@keyframes animshootingstar {
  from {
    -webkit-transform: translateY(0px) translateX(0px) rotate(110deg);
            transform: translateY(0px) translateX(0px) rotate(110deg);
    opacity: 1;
    height: 5px;
  }
  to {
    -webkit-transform: translateY(560px) translateX(2560px) rotate(110deg);
            transform: translateY(560px) translateX(2560px) rotate(110deg);
    opacity: 1;
    height: 800px;
  }
}

#featured {
  width: 100%;
  height: 300px;
  background: #eee;
}

#events .event-card {
  margin: 50px 0;
  padding: 0;
  border-radius: 5px;
  -webkit-box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.2);
  font-family: 'poppins', sans-serif !important;
}

#events .event-card .col-md-8, #events .event-card .col-md-4 {
  padding: 0;
  margin: 0;
}

#events .event-card .ec-body {
  padding: 15px;
  background-color: #00b4a8;
  border-top-left-radius: 5px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
      grid-template-areas: "title title" "author author" "description description" "hr hr" "event-date event-date" "month time";
}

#events .event-card .ec-body .title {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.4px;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: title;
}

#events .event-card .ec-body .author {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 11px;
  line-height: 20px;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: author;
}

#events .event-card .ec-body .description {
  font-size: 12px;
  margin-top: 15px;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: description;
}

#events .event-card .ec-body .hr {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: hr;
  -ms-grid-column-align: center;
      justify-self: center;
  width: 90%;
  border-top: 1px solid #ffffff44;
  margin: 25px 0 10px 0;
}

#events .event-card .ec-body .event-date {
  font-size: 64px;
  color: ivory;
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: event-date;
}

#events .event-card .ec-body .month {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  grid-area: month;
}

#events .event-card .ec-body .time {
  -ms-grid-row: 6;
  -ms-grid-column: 2;
  grid-area: time;
}

#events .event-card .ec-footer .register-btn {
  width: 100%;
  padding: 1rem 3rem;
  text-align: center;
  text-transform: uppercase;
  background: rgba(0, 0, 0, 0.85);
  color: cornsilk;
  border-radius: 0%;
  border-bottom-left-radius: 5px;
}

footer {
  background: #1c1c1c;
  padding: 40px 0;
}

footer .row .col-md-6 h6 {
  color: #fafafa;
  margin-bottom: 18px;
  font-size: 14px;
  letter-spacing: 0.5px;
}

footer .row .col-md-6 p {
  color: #888;
}

footer .row .about-section {
  border-right: 1px solid #444;
}

footer .row .contact-section {
  padding-left: 40px;
}

footer .row .contact-section hr {
  border-top: 1px solid #363636;
  width: 50%;
  margin: 10px 0;
}

footer .row .contact-section .email p, footer .row .contact-section .phone p {
  display: inline;
  margin: 0;
  color: #888;
  font-size: 12px;
  position: relative;
  bottom: 2;
}

footer .row .contact-section .email i, footer .row .contact-section .phone i {
  color: #888;
  margin-right: 10px;
}

footer .row .contact-section .socials button {
  background: #0073b1;
  color: #e0e0e0;
  border: 2px solid #0073b1;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

footer .row .contact-section .socials button:hover {
  background: transparent;
  border: 2px solid #888;
  color: #888;
}

footer hr {
  border-top: 1px solid #363636;
  margin: 25px 0;
}

footer .credits {
  font-size: 12px;
  color: #ccc;
}

footer .credits a {
  color: #f5f5f5;
  font-weight: 500;
  text-decoration: none;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

footer .credits a:hover {
  color: #00ddce;
}
/*# sourceMappingURL=main.css.map */